<h1>Become a member of our team!</h1>

<form action="/cooks" method="POST">
    <br/>
    <label for="name">First Name and Last Inital:</label>
        <input type="text" name="name" id="name"> 
    <br/>
    <input type="submit" value="You're Hired!">
</form>

<meta http-equiv="refresh" content="5; URL=/expos" />
<center>
<footer>
<hr>
<h3><a href ="/cooks">See our Cooks</a> | <a href ="/dishes">See our Food</a> | <a href ="/expos">See our Chefs</a> | <a href ="/cooks/new">Come Work For Us</a></h3>
<hr>
</footer>
</center>