<center><h1><%=@dish.name%></h1></center> 
<hr>

<center> <a href="/dishes/<%=@dish.id%>/edit"><img src="<%=@dish.image%>" alt="<%=@dish.name%>"></a></center>
 <hr>
 <br>

 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <center><a href = "/dishes">Back to Dishes</a>
<footer>
<h3><a href ="/cooks">See our Cooks</a> | <a href ="/dishes">See our Food</a> | <a href ="/expos">See our Chefs</a> | <a href ="/cooks/new">Come Work For Us</a></h3>
</footer>
</center>
