<center>
<h1>Chef Show Page</h1>

<hr>
<h2>
    <%=@chef.name%>
    <p>
    <%=@chef.description%>
    </p>
</h2>
<footer>
<h3><a href ="/cooks">See our Cooks</a> | <a href ="/dishes">See our Food</a> | <a href ="/expos">See our Chefs</a> | <a href ="/cooks/new">Come Work For Us</a></h3>
</footer>
</center>
