 <body style="background-color:rgb(184, 244, 245, 0.6);">

<center><h1>Welcome to Wine County Trattoria</h1></center>
<hr>

<center>
 <a href="https://www.google.com/maps/uv?pb=!1s0x80dcd7d6b5eaaaab%3A0xc3484a720ab2d6ef!3m1!7e115!4shttps%3A%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipNnJVzHuMq0tNpZ11b6A_Ra4yo1bd6C346O_Vid%3Dw426-h320-k-no!5swine%20country%20trattoria%20-%20Google%20Search!15sCgIgAQ&imagekey=!1e10!2sAF1QipNnJVzHuMq0tNpZ11b6A_Ra4yo1bd6C346O_Vid&hl=en&sa=X&ved=2ahUKEwjzhu68pvPrAhVN7qwKHcWSA-8QoiowHXoECBsQBg">
<img src="https://www.disneyfoodblog.com/wp-content/uploads/2010/09/wine-country-trattoria_alt.jpg">
</a>
<br>
<h2>
<a href="https://www.google.com/maps/place/Wine+Country+Trattoria/@33.8065186,-117.920105,15z/data=!4m5!3m4!1s0x0:0xc3484a720ab2d6ef!8m2!3d33.8065186!4d-117.920105">Directions</a>
</h2>
</center>
<footer>
<hr>
<center><h3><a href ="/cooks">See our Cooks</a> | <a href ="/dishes">See our Food</a> | <a href ="/expos">See our Chefs</a> | <a href ="/cooks/new">Come Work For Us</a></h3></center> 
</footer>
</body>

